.search-flex{
  display: flex;
  justify-self: flex-start;
  align-items: center;
  gap:1.5rem;
  padding: 0.5rem 1.5rem;
  color: var(--gray);
  background-color: var(--darkgrey);
  width: 75%;
  margin: 1rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3rem;
}

.search-flex input{
  width: 100%;
  background-color: var(--darkgrey);
  font-family: 'Inter';
  font-size: 1.5rem;
  color: var(--white);
  border: none;
}
.search-flex input:focus{
  outline: none;
}