.toogle-button{
  display:flex;
  align-items: center;
  justify-content: center;
  margin : 1rem 1rem;
}
@media only screen and (max-width: 800px){
  .toogle-button{
    font-size : 0.7rem !important;
    padding:0.5rem !important;
  }
}